* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}
body {
  background-image: url('https://unsplash.imgix.net/photo-1415889678233-eb900aeee9e1?dpr=2&fit=crop&fm=jpg&h=700&q=75&w=1050');
  background-size: cover;
  position: relative;
}
.layer {
  position: absolute;
  background-color: white;
  box-shadow: 1px 1px 3px black;
  width: 45%;
  height: 100%;
  margin-left: 5%;
  text-align: center;
  padding: 5%;
}
.layer .title {
  font-size: 300%;
  margin: 0 auto;
  margin-top: 40%;
  width: 80%;
  font-family: 'Montserrat';
}
.layer .subtitle {
  font-size: 150%;
  font-family: 'Montserrat';
}
.layer .text {
  margin-top: 10%;
  font-family: 'Open Sans';
  text-align: left;
}
.layer .intro-button {
  width: 30%;
  margin: 0 auto;
  margin-top: 10%;
  transition: width 0.2s;
}
.layer .intro-button:hover {
  width: 50%;
}
.layer.intro {
  z-index: 50;
}
.layer.about {
  z-index: 40;
}
.layer.projects {
  z-index: 30;
}
.layer.contacts {
  z-index: 20;
}
.btn {
  background-color: black;
  border-radius: 5% 0 5% 0;
  color: white;
  padding: 1%;
}
.btn a {
  font-size: 200%;
  text-decoration: none;
  color: white;
  font-family: 'Economica';
}
/*-----ANIMATIONS--------*/

.sendToBack {
  -webkit-animation: sendToBack 2s forwards;
}
.bringToFront {
  -webkit-animation: sendToBack 2s reverse;
}
.secondInStack {
  z-index: 90 !important;
}
@-webkit-keyframes sendToBack {
  0% {
    margin-left: 5%;
    z-index: 100;
  }
  48% {
    margin-left: 50%;
    z-index: 100;
  }
  52% {
    margin-left: 50%;
    z-index: 10;
  }
  100% {
    margin-left: 5%;
    z-index: 10;
  }
}